# VK Бот
VK_API=your_vk_group_token_here

# API Кинопоиска (https://poiskkino.dev/)
X_API_KEY=your_kinopoisk_api_key_here

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_db_password_here
DB_NAME=vk_bot_db